.explore-search {
  display: flex;
}

.explore-s-1 {
  /* background: #fff; */
  display: flex;
}

.explore-s-2 {
  /* background: #fff; */
  display: flex;
}

.explore-s-3 {
  /* background: #fff; */
  display: flex;
}
